<section class="section">
  <div class="container">
    <h1 class="title">Login</h1>
    <form phx-submit="authenticate" action={~p"/admin/login"} method="post">
    <input type="hidden" name="_csrf_token" value={@csrf_token} />
      <div>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required="true" />
      </div>

      <div>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required="true" />
      </div>

      <div>
        <button type="submit">Log in</button>
      </div>
    </form>
  </div>
</section>
